/* Tablet / Middle Screen */

@media only screen and (min-width: 768px) and (max-width: 1099px) {
    /* HEADER DO SITE */

    .header {
        padding: 20px 0;
        text-align: center;
    }

    .container {
        width: 768px;
    }

    .header .logo, .menu-nav-header, .header .container > a:last-of-type {
        float: none;
    }

    .menu-nav-header {
        margin-top: 20px;
        margin-bottom: 40px;
        margin-left: 0;
        text-align: center;
    }

    .header .logo {
        margin: 0 auto;
    }

    .header .container > a:last-of-type {
        margin-right: 0;
    }

    /* HEADER DO SITE */

    /* Section Main */

    .main {
        padding: 60px 0;
    }

    .main .main-item1 h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .main .main-item1 p {
        max-width: 300px;
    }

    .main .main-item2 img {
        width: 360px;
    }

    .main .main-item1 {
        margin-top: 40px;
    }

    /* Section Main */

    /* Section1 */

    .section1 {
        margin-top: 60px;
    }

    .section1 .section1-item h1 {
        font-size: 24px;
        line-height: 30px;
    }

    .section1 .section1-item p {
        max-width: 320px;
    }

    .section1 ul li p {
        max-width: 320px;
    }

    .section1 ul li h3 {
        margin-left: -60px;
    }

    .section1 ul li h3 span {
        padding: 5px 10px;
    }
    
    /* Section1 */


    /* Section2 */

    .section2 {
        margin-top: 20px;
    }
    
    /* Section2 */

    /* Section3 */
    

    .section3 {
        margin-top: 60px;
        background: #f3613c url(/images/bg-simplify-section-mobile.svg) no-repeat cover;
        background-position: 30px;
    }

    /* Footer */

    .footer {
        padding: 60px 0;
    }

    .footer .footer-itens {
        margin-top: 40px;
    }

    .footer .footer-itens ul {
        margin-top: 150px;
    }

    .footer .footer-nav ul {
        float: right;
        margin: 0 0 50px 0;
    }

    .footer .form-copy .form input {
        padding: 10px 20px;
        border-radius: 20px;
    }


    .footer .form-copy .form button {
        padding: 10px 20px;
        border-radius: 20px;
    }

    .footer .form-copy .footer-copy {
        margin-top: 40px;
    }

    .footer .footer-itens .logo img {
        width: 250px;
    }

    .footer .footer-itens ul li a {
        font-size: 40px;
    }

}

/* Mobile */

@media only screen and (max-width: 767px) {

    /* HEADER DO SITE */

    .header {
        padding: 20px 0;
    }

    body {
        overflow-x: hidden;
    }

    .header .mobile-menuBtn {
        position: relative;
        display: block;
        width: 60px;
        height: 40px;
        background: transparent;
        border: none;
        float: right;
        z-index: 20;
        cursor: pointer;
    }

    .header .mobile-menuBtn::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 8px;
        box-shadow: 0 -16px #242e52, 0 -32px #242e52;
        background: #242e52;
    }

    .container {
        width: 460px;
    }
    
    .header .container > a:last-of-type {
        float: none;
        display: none;
    }

    .header .logo {
        margin: 10px 0 0 0;
    }

    .menu-nav-header {
        float: none;
        position: absolute;
        top: 0;
        right: 0;
        background: #fff;
        z-index: 12;
        margin: 0;
        transition: .2s ease-in-out;
        transform: translate3d(100%, 0, 0);
        padding: 80px 30px 30px 30px;
    }

    .header .container .mobile-menuBtn {
        transition: .2s;
    }

    .header .nav.menuActive .mobile-menuBtn {
        transform: rotate(-90deg);
    } 

    .header .nav.menuActive .menu-nav-header {
        transform: translate3d(0, 0, 0);
    }

    .menu-nav-header li {
        display: block;
        margin-top: 20px;
    }

    /* HEADER DO SITE */


    /* Section Main */

    .main {
        position: relative;
        margin: 0;
        padding: 0 0 35px 0;
        text-align: center;
    }

    .main .main-item1, .main .main-item2 {
        float: none;
        margin: 0;
    }

    .main .main-item2 img {
        width: 460px;
    }

    .main .main-item1 {
        margin-top: 508px;
    }

    .main .main-item2 {
        position: absolute;
        top: 52px;
    }

    .main .main-item1 h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .main .main-item1 p {
        margin: 0 auto 35px auto;
    }

    /* Section Main */


    /* Section1 */

    .section1 {
        margin-top: 60px;
    }

    .section1 .section1-item, .section1 ul {
        float: none;
        margin: 0;
    }

    .section1 .section1-item h1, .section1 .section1-item p {
        text-align: center
    }

    .section1 .section1-item p {
        margin: 0 auto 40px auto;
    }

    .section1 ul li h3 {
        margin-left: 0;
        background: #fff0eb;
        padding: 10px 0px;
        border-radius: 20px;
    }

    /* Section1 */

    /* Section2 */

    .section2 {
        margin-top: 20px;
    }
    
    .section2 .section2-item2 div {
        width: 460px;
    }

    .section2 .section2-item2 div blockquote p {
        max-width: 300px;
    }

    /* Section2 */

    /* Section3 */

    .section3 {
        background: #f3613c url(/images/bg-simplify-section-mobile.svg) no-repeat cover;
        background-position: 30px;
        text-align: center;
        margin-top: 60px;
    }
 
    .section3 a, .section3 h2 {
        float: none;
        text-align: center;
        margin: 0 auto;
    }

    .section3 h2 {
        max-width: 460px;
        margin-bottom: 40px;
    }

    /* Section3 */

    /* footer */


    .footer .footer-itens, .footer .form-copy, .footer .form-copy .footer-copy {
        float: none;
    }

    .footer {
        position: relative;
        padding: 60px 0 260px 0;
    }

    .footer .form-copy .form {
        position: absolute;
        top: 60px;
        left: 40px;
    }

    .footer .form-copy .form input {
        padding: 20px 60px 20px 30px;
    }

    .footer .form-copy .form button {
       padding: 20px 40px;
    }

    .footer .footer-itens ul {
        margin-top: 60px;
        position: absolute;
        top: -50px;
        width: 240px;
    }

    .footer .footer-itens .logo {
        margin-top: 100px;
    }

    .footer .footer-itens {
        position: absolute;
        top: 340px;
        left: 130px;
    }

    .footer .footer-nav {
        margin-top: 80px;
    }

    .footer .footer-nav ul:nth-of-type(1) {
        margin-left: 70px;
    } 
    
    .footer .footer-nav ul:nth-of-type(2) {
        margin-left: 100px;
    }

    .footer .form-copy .footer-copy {
        position: absolute;
        bottom: 20px;
        margin-left: 70px;
    }

    .footer .footer-itens ul li {
        margin-left: 20px;
    }

    .footer .footer-itens ul li:nth-child(1) {
        margin-left: -40px;
    }

    /* footer */

} 


























